<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="aveiv/json-rpc">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./coverage-html"/>
    </logging>
</phpunit>
